#titulo{color: #EAEAEA; 
text-align: center; 
}

#title { 
    color: #00B4D8; /* Azul eléctrico elegante */
    text-align: center; 
} 

#introducción{ 
    color: #90E0EF; /* Azul hielo exótico */
    text-align: center; 
} 

.coche{ 
    color: #06D6A0; /* Verde esmeralda vibrante */
    font-weight: bold; 
} 

section { 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
} 

article { 
    width: 300px; 
    background-color: #1B1B2F; /* Azul petróleo oscuro */
    padding: 15px; 
    border: 1px solid #C77DFF; /* Morado brillante */
} 

article { 
    width: 300px; 
} 

@media (max-width: 600px) { 
    article { 
        width: 100%; 
    } 
    h1 { 
        font-size: 1.5rem; 
    } 
} 

main{ 
    max-width: 2000px; 
    margin: auto; 
    margin-top: 20px; 
} 

body { 
    background-color:#0A0A0A; /* Negro intenso */
    font-family: sans-serif; 
}
