#titulo {
    color:#FF9B51;
    text-align: center;
}
#title {
    color: #FF9B51;
    text-align: center;
}


#introducción{
    color: #1A1A1A;
    text-align: center;
}



.coche{
    color:  #25343F; 
    font-weight: bold; 
}

section {
    display: flex;      
    flex-wrap: wrap;    
    justify-content: center;
    gap: 20px;         
}


article {
    width: 300px;       
    background-color: #BFC9D1;
    padding: 15px;
    border: 1px solid #FF9B51;
}

article {
    width: 300px;
}


@media (max-width: 600px) {
    article {
        width: 100%; 
    }
    
    h1 {
        font-size: 1.5rem; 
    }
}

main{ 
    max-width: 2000px;         
    margin: auto;
    margin-top: 20px; 
}

body {
    background-color:#EAEFEF;
    font-family: sans-serif;
}
