/*Formato y colores del título*/
#titulo {
    color:#FF9B51;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 3rem;          
    letter-spacing: 2px;     
    text-shadow: 2px 2px 8px rgba(0,0,0,0.3); 
}

#title {
    color: #FF9B51;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}


#introducción{
    color: #1A1A1A;
    text-align: center;
}


/* Estilo para cada coche */
.coche{
    color:  #25343F; 
    font-weight: bold; 
}

section {
    display: flex;      
    flex-wrap: wrap;    
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;         
}

/*cajas de cada coche*/
article {
    width: 300px;       
    background-color: #BFC9D1;
    padding: 15px;
    border: 1px solid #FF9B51;
    border-radius: 10px; 
    box-shadow: 0 4px 8px #161616; 
    transition: transform 0.3s ease; 
}

/*transcisión al pasar el ratón*/
article:hover {
    transform: scale(1.05);   
}

article {
    width: 300px;
}


@media (max-width: 600px) {
    article {
        width: 100%; 
    }
    
    h1 {
        font-size: 1.5rem; 
    }
}

main{ 
    max-width: 2000px;         
    margin: auto;
    margin-top: 20px; 
}

body {
    background-color:#EAEFEF;
    font-family: 'Poppins', sans-serif;
}

/*estilo de imágenes*/
img {
    border-radius: 8px;
    margin-top: 10px;
    align-items: center;
}

header {
    background-color: #BFC9D1;
    padding: 20px;
    display: flex;
    align-items: center;    
    justify-content: center;  
    gap: 15px;                
}

.logo {
    width: 60px;
}